@media screen and (max-width: 750px) {
    .header-borders {
        display: none;
    }
}
.header-borders {
    position: relative;
}

.header-border {
    width: 500px;
    height: 500px;
    bottom: -200px;
    background: #141414;
    background-clip: content-box;
    position: absolute;
    z-index: 1;
}
.header-border--left {
    left: -13px;
    border-left: 19px solid orange;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    box-shadow: -2px -9px 8px 0px black;
}
.header-border--right {
    right: -13px;
    border-right: 19px solid orange;
    transform: rotate(45deg);
    transform-origin: bottom right;
    box-shadow: 2px -9px 8px 0px black;
}