body {
    margin: 0;
    padding: 0;
    font-family: KTFJerimov;
    color: #f7f7f8;
    overflow-x: hidden;
    min-height: 100vh;
    background-image: url("/src/assets/images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
}

section {
    padding-bottom: 24px;
}

section:first-of-type {
    padding-top: 24px;
}