.social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social__link {
    color: #f7f7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.link__image-container{
    background: orange;
    padding: 8px;
    width: 24px;
    height: 24px;
    box-shadow: 0px 0px 12px 0px black;
}

.link__image {
    width: 24px;
    height: 24px;
    filter: grayscale(1);
}

.link__text {
    padding: 8px;
    font-weight: bold;
    font-size: 27pt;
    line-height: 24px;
    color: orange;
    text-shadow: #000 1px 0 10px;
}

.social__link:hover {
    box-shadow: 0px 0px 12px 0px black;
}

.social__link:hover .link__text {
    background: orange;
    color: #f7f7f8;
    text-shadow: none;
}

.social__link:hover .link__image {
    filter: none;
    box-shadow: none;
}

.social__link:hover .link__image-container {
    box-shadow: none;
}